*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 .bodycontent{
    animation-name: fade;
    animation-duration: 2s;
    padding-top: 100px;
    width: 700px;
    max-width: 100%;
 }
 .bodycontent h3, .workcontainer h3{
    font-size: 350%;
    font-style: bold;
 }
 body{
    background-image: url('../images/gradientbgphoto.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h3{
    color: white;
    padding: 20px 50px;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}
p{
    color: gray;
    padding: 20px 50px;
    font-size: 130%;
}
.container{
    color: white;
    padding: 0 50px;
    width: 700px;
    max-width: 100%;
}
#aboutbody{
    width: 700px;
    max-width: 100%;
    text-align: justify;
}
#aboutbody p a{
    color: chocolate;
    text-decoration: none;
}
#aboutbody .AboutPara a{
    font-weight: bold;
    text-decoration: none;
    color: chocolate;
}
#aboutbody p{
    color: white;
    font-size: 120%;
    padding-left: 50px;
    padding-top: 30px;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
.container .inputbox{
    width: 100%;
    color: white;
    height: 35px;
    border: none;
    border-radius: 6px;
    background: #212121;
    font-size: 16px;
}
input[type=submit]{
    background: #212121;
    border: none;
    color: chocolate;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
    width: 100px;
}
.bodycontent .container textarea{
    height: 120px;
}
.bodycontent p a{
    color: chocolate;
    text-decoration: none;
}
.workcontainer{
    animation-name: fade;
    animation-duration: 2s;
    
    display: grid;
    border-radius: 8px;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "main main main"
        "container1 container2 container3"
        "container4 container5 container6";
    grid-gap: 0.2rem;
}
main{
    padding: 100px 0;
    grid-area: main;
}
#container1{
    grid-area: container1;
    background-image: linear-gradient(#978362, black);
    border-radius: 8px;
    padding:10px;
}
#container2{
    grid-area: container2;
    background-image: linear-gradient(#978362, black);
    border-radius: 8px;
    padding:10px;
}
#container3{
    grid-area: container3;
    background-image: linear-gradient(#978362, black);
    border-radius: 8px;
    padding:10px;
}
#container4{
    grid-area: container4;
    background-image: linear-gradient(#978362, black);
    border-radius: 8px;
    padding:10px;
}
#container5{
    grid-area: container5;
    background-image: linear-gradient(#978362, black);
    border-radius: 8px;
    padding:10px;
}
#container6{
    grid-area: container6;
    background-image: linear-gradient(#978362, black);
    border-radius: 8px;
    padding:10px;
}
#container6 p{
    color: white;
}

nav{
    height: 60px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    position: fixed;
    width: 100%;
}
nav .logo{
    font-size: 35px;
    color: white;
    font-weight: 600;
    margin-left: -50px;
    letter-spacing: 1px;
    text-decoration: none;
}
nav .logo a{
    color: white;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active{
    color: chocolate;
}
nav ul li a:hover {
    color: grey;
}
nav .menu-btn i{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}
@media (max-width:940px) {
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 60px;
        left: -100%;
        background: black;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li {
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }
}

@media only screen and (max-width:550px) {
    .workcontainer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "main"
            "container1"
            "container2"
            "container3"
            "container4"
            "container5"
            "container6";
    }
    #container1, #container2, #container3, #container4, #container5, #container6{
        height: 200px;
        padding:10px;
        height: fit-content;
    }    
}